<nav flex class="navbar navbar-fixed-top" layout="row" style="color: white">
  <div flex="5"></div>
  <div flex="80">
      <h1>{{vm.navline.title}}</h1>
    </div>
  <!--<div layout = "row" layout-align="end-center" >-->
    <!--<div flex="75"> </div>-->
    <div style="width:50px"> 
      <ng-md-icon icon="account_box" style="fill: #ffffff" size="44"></ng-md-icon>
    </div >
    <div layout-align="end-center">
      <h3 class="white-text">Firstname Lastname</h3>
    </div>
      <!--<md-button class="md-primary md-raised login-btn pull" style=>Log in</md-button>-->
    <!--</div>-->

</nav>
