<section id="dashboard" class="mainbar">

  <div class="container" layout="row" flex layout-margin layout-padding style="height:250px;">

    <div class="md-whiteframe-2dp" layout-fill layout-margin layout-padding>

    </div>

    <div class="md-whiteframe-2dp" layout-fill layout-margin layout-padding>

    </div>

  </div>

  <div class="kanban-container" flex layout="row" layout-margin layout-padding style="justify-content:space-around;">

    <div layout-fill layout-margin layout-padding layout="column">

      <kanban-card ng-repeat="req in vm.data" ng-if="req.status==='To Do'" ng-click="vm.showDialog(req)">
        <h4 class="req-number">{{ req.Number }}</h4>
        <img ng-src="{{ vm.icons[req.Number[0]].link}}">
        <p>{{ req.Requirement }}</p>
        <button ng-click="vm.updateProgress(req)"><strong>></strong></button>
        <span>{{ req.status }}</span>

      </kanban-card>

    </div>

    <div class="divider">
    </div>

    <div layout-fill layout-margin layout-padding layout="column">

      <kanban-card ng-repeat="req in vm.data" ng-if="req.status==='In Progress'">
        <h4>{{ req.Number }}</h4>
        <img ng-src="{{ vm.icons[req.Number[0]].link}}">
        <p>{{ req.Requirement }}</p>
        <button ng-click="vm.updateProgress(req)"><strong>></strong></button>
        <span>{{ req.status }}</span>

      </kanban-card>

    </div>

    <div class="divider">
    </div>

    <div layout-fill layout-margin layout-padding layout="column">

      <kanban-card ng-repeat="req in vm.data" ng-if="req.status==='In Review'">
        <h4>{{ req.Number }}</h4>
        <img ng-src="{{ vm.icons[req.Number[0]].link}}">
        <p>{{ req.Requirement }}</p>
        <button ng-click="vm.updateProgress(req)"><strong>></strong></button>
        <span>{{ req.status }}</span>

      </kanban-card>

    </div>

    <div class="divider">
    </div>

    <div layout-fill layout-margin layout-padding layout="column">

      <kanban-card ng-repeat="req in vm.data" ng-if="req.status==='Complete'">
        <h4>{{ req.Number }}</h4>
        <img ng-src="{{ vm.icons[req.Number[0]].link}}">
        <p>{{ req.Requirement }}</p>
        <button ng-click="vm.updateProgress(req)"><strong>></strong></button>
        <span>{{ req.status }}</span>

      </kanban-card>

    </div>

  </div>


  <div class="container">
    <ul class="status"></ul>
  </div>




</section>
