<section id="dashboard" class="mainbar">

  <div class="part1" layout="row" flex layout-margin layout-padding>
    <div flex="66">
       <div layout="row" flex="20">
         <ng-md-icon icon="play_arrow" style="fill: #2b2b2b"></ng-md-icon><h2>Current Targets</h2>
       </div>
       <div class="target-text" flex="75">
        Lorem ipsum dolor sit amet, dicat persius et mea, id sed recteque pertinacia elaboraret. Eu est vide nostro deserunt, et cum molestie perfecto intellegebat. Mel ex oblique numquam concludaturque, has iisque nostrum periculis ut. Ea mel dico paulo dolorem. In alienum corrumpit sit. Wisi tation consul duo an.

        Tamquam cotidieque ex cum, ne meliore gubergren mea. Vel solum paulo te. Id postea appetere repudiandae cum, quodsi cotidieque repudiandae ne duo, ex vel illum pertinax. Est
        dicit vidisse minimum ut, posse sonet ea vix. Per ex principes constituam necessitatibus, paulo saperet probatus te ius, ad sed graeci officiis torquatos.


       </div>
    </div>
    <div flex="33">
      <div flex="50" layout="row">
      <ng-md-icon icon="play_arrow" style="fill: #2b2b2b"></ng-md-icon><h2>My Progress</h2>
      </div>
      <ul class="status"></ul>
    </div>
  </div>

  <div class="kanban-container" flex layout-margin layout-padding style="justify-content:space-around;">
    <div layout="row" flex="15">
      <ng-md-icon icon="play_arrow" style="fill: #2b2b2b"></ng-md-icon><h2>Workflow</h2>
    </div>
    <div layout="row">

      <div layout-fill layout-margin layout-padding layout="column">

        <kanban-card ng-repeat="req in vm.data" ng-if="req.status==='To Do'">
          <h4 class="req-number">{{ req.Number }}</h4>
          <ng-md-icon icon="insert_drive_file" ng-if="req['Evidence format']==='Document'">Document</ng-md-icon>
          <ng-md-icon icon="insert_photo" ng-if="req['Evidence format']==='Image(s)'" class="material-icons">Image(s)</ng-md-icon>
          <ng-md-icon icon="save" ng-if="req['Evidence format']==='Record'" class="material-icons">Record</ng-md-icon>
          <ng-md-icon icon="map" ng-if="req['Evidence format']==='Map'" class="material-icons">Map</ng-md-icon>
          <p>{{ req.Requirement }}</p>
          <button ng-click="vm.updateProgress(req);"><strong>></strong></button>
          <a><span class="more-info" ng-click="vm.showDialog(req)">More Information</span></a>
          <span class="item-status">{{ req.status }}</span>

        </kanban-card>

      </div>

      <div class="divider">
      </div>

      <div layout-fill layout-margin layout-padding layout="column">

        <kanban-card ng-repeat="req in vm.data" ng-if="req.status==='In Progress'">
          <h4 class="req-number">{{ req.Number }}</h4>
          <ng-md-icon icon="insert_drive_file" ng-if="req['Evidence format']==='Document'">Document</ng-md-icon>
          <ng-md-icon icon="insert_photo" ng-if="req['Evidence format']==='Image(s)'" class="material-icons">Image(s)</ng-md-icon>
          <ng-md-icon icon="save" ng-if="req['Evidence format']==='Record'" class="material-icons">Record</ng-md-icon>
          <ng-md-icon icon="map" ng-if="req['Evidence format']==='Map'" class="material-icons">Map</ng-md-icon>
          <p>{{ req.Requirement }}</p>
          <button ng-click="vm.updateProgress(req)"><strong>></strong></button>
          <a><span class="more-info" ng-click="vm.showDialog(req)">More Information</span></a>
          <span class="item-status">{{ req.status }}</span>

        </kanban-card>

      </div>

      <div class="divider">
      </div>

      <div layout-fill layout-margin layout-padding layout="column">

        <kanban-card ng-repeat="req in vm.data" ng-if="req.status==='In Review'">
          <h4 class="req-number">{{ req.Number }}</h4>
          <ng-md-icon icon="insert_drive_file" ng-if="req['Evidence format']==='Document'">Document</ng-md-icon>
          <ng-md-icon icon="insert_photo" ng-if="req['Evidence format']==='Image(s)'" class="material-icons">Image(s)</ng-md-icon>
          <ng-md-icon icon="save" ng-if="req['Evidence format']==='Record'" class="material-icons">Record</ng-md-icon>
          <ng-md-icon icon="map" ng-if="req['Evidence format']==='Map'" class="material-icons">Map</ng-md-icon>
          <p>{{ req.Requirement }}</p>
          <button ng-click="vm.updateProgress(req)"><strong>></strong></button>
          <a><span class="more-info" ng-click="vm.showDialog(req)">More Information</span></a>
          <span class="item-status">{{ req.status }}</span>

        </kanban-card>

      </div>

      <div class="divider">
      </div>

      <div layout-fill layout-margin layout-padding layout="column">

        <kanban-card ng-repeat="req in vm.data" ng-if="req.status==='Complete'">
          <h4 class="req-number">{{ req.Number }}</h4>
          <ng-md-icon icon="insert_drive_file" ng-if="req['Evidence format']==='Document'">Document</ng-md-icon>
          <ng-md-icon icon="insert_photo" ng-if="req['Evidence format']==='Image(s)'" class="material-icons">Image(s)</ng-md-icon>
          <ng-md-icon icon="save" ng-if="req['Evidence format']==='Record'" class="material-icons">Record</ng-md-icon>
          <ng-md-icon icon="map" ng-if="req['Evidence format']==='Map'" class="material-icons">Map</ng-md-icon>
          <p>{{ req.Requirement }}</p>
          <button ng-disabled="true" style="color:green"><strong>✔</strong></button>
          <a><span class="more-info" ng-click="vm.showDialog(req)">More Information</span></a>
          <span class="item-status" style="color:green;">{{ req.status }}</span>

        </kanban-card>

      </div>
    </div>

  </div>







</section>
