<section id="dashboard" class="mainbar">

  <div class="part1" layout="row" flex layout-margin layout-padding>
    <div flex="66">
       <div layout="row" flex="20">
         <ng-md-icon icon="play_arrow" style="fill: #2b2b2b"></ng-md-icon><h2>Current Targets</h2>
       </div>
       <div class="target-text" flex="75">
         Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
       </div>
    </div>
    <div flex="33"> </div>
  </div>

  <div class="kanban-container" flex layout="row" layout-margin layout-padding style="justify-content:space-around;">

    <div layout-fill layout-margin layout-padding layout="column">

      <kanban-card ng-repeat="req in vm.data" ng-if="req.status==='To Do'" ng-click="vm.showDialog(req)">
        <h4 class="req-number">{{ req.Number }}</h4>
        <img ng-src="{{ vm.icons[req.Number[0]].link}}">
        <p>{{ req.Requirement }}</p>
        <button ng-click="vm.updateProgress(req)"><strong>></strong></button>
        <span>{{ req.status }}</span>

      </kanban-card>

    </div>

    <div class="divider">
    </div>

    <div layout-fill layout-margin layout-padding layout="column">

      <kanban-card ng-repeat="req in vm.data" ng-if="req.status==='In Progress'">
        <h4>{{ req.Number }}</h4>
        <img ng-src="{{ vm.icons[req.Number[0]].link}}">
        <p>{{ req.Requirement }}</p>
        <button ng-click="vm.updateProgress(req)"><strong>></strong></button>
        <span>{{ req.status }}</span>

      </kanban-card>

    </div>

    <div class="divider">
    </div>

    <div layout-fill layout-margin layout-padding layout="column">

      <kanban-card ng-repeat="req in vm.data" ng-if="req.status==='In Review'">
        <h4>{{ req.Number }}</h4>
        <img ng-src="{{ vm.icons[req.Number[0]].link}}">
        <p>{{ req.Requirement }}</p>
        <button ng-click="vm.updateProgress(req)"><strong>></strong></button>
        <span>{{ req.status }}</span>

      </kanban-card>

    </div>

    <div class="divider">
    </div>

    <div layout-fill layout-margin layout-padding layout="column">

      <kanban-card ng-repeat="req in vm.data" ng-if="req.status==='Complete'">
        <h4>{{ req.Number }}</h4>
        <img ng-src="{{ vm.icons[req.Number[0]].link}}">
        <p>{{ req.Requirement }}</p>
        <button ng-click="vm.updateProgress(req)"><strong>></strong></button>
        <span>{{ req.status }}</span>

      </kanban-card>

    </div>

  </div>


  <div class="container">
    <ul class="status"></ul>
  </div>




</section>
